
.nbjt-emailform-error {
    color: #f00 !important;
}

.nbjt-emailform-input {
    width: 90%;
}

.nbjt-emailform-description {
    text-transform: uppercase;
    font-weight: 600;
}
    .nbjt-emailform-description span {
        color: #c00
    }

.moduletable.jmoddiv {
	background-color: #e8f5f6;
}

#nbjt-emailform-button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#62c462+0,51a351+100 */
    background: rgb(98,196,98); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(98,196,98,1) 0%, rgba(81,163,81,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(98,196,98,1) 0%,rgba(81,163,81,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(98,196,98,1) 0%,rgba(81,163,81,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62c462', endColorstr='#51a351',GradientType=0 ); /* IE6-9 */

	background: #66a351;
	padding: 0.5em;
}

.btn:hover {
	background-color: #51a351;
	background-position: 0 -30px;
}
