
.nbjt-emailform-error {
    color: #f00 !important;
}

.nbjt-emailform-input {
    width: 90%;
}

.nbjt-emailform-description {
    text-transform: uppercase;
    font-weight: 600;
}
    .nbjt-emailform-description span {
        color: #c00
    }

.moduletable.jmoddiv {
	background-color: #e8f5f6;
}

#nbjt-emailform-button {
	background: #66a351;
	padding: 0.5em;
}

.btn:hover {
	background-color: #51a351;
	background-position: 0 -30px;
}
